@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

#header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #145457 0%, #20636e 50%, #242364 100%);
    z-index: 99;
}

.logo {
    margin-left: 50px;
    font-family: 'Noto Serif', serif;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.list {
    display: flex;
}

.element {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    transition: 0.5s;
}

.element:hover {
    transform: scale(1.25);
    color: #FFF;
}

.res {
    display: none;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 {
    position: fixed;
    z-index: -1;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.welcome1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome {
    color: rgb(8, 8, 8);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.elo {
    font-size: 5.5rem;
    font-size: clamp(1.2rem, 7.5vw, 5.5rem);
}

.ele {
    font-size: 4rem;
    font-size: clamp(1.2rem, 7.5vw, 4rem);
}


#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wraper-section3 {
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    font-family: Roboto;
    width: 60%;
    text-align: center;
}

.section4-wraper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.skill {
    width: 30%;
    height: 50%;
    border: 2px solid #C45457;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.skill i {
    font-size: 10rem;
}

.skill span {
    font-size: 3rem;
}

#section5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wraper-section5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact1 {
    font-size: 5rem;
    color: #000000;
}

.contact {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
}

.message form {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    transform: translateX(-25px);
    width: 50%;
    gap: 15px;
}

.input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #f3f3ff;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    transition: 0.5s;
}

#text-area {
    background: transparent;
    border: 1px solid rgba(243, 243, 255, 1);
    border-radius: 5px;
    outline: transparent;
    padding: 10px;
    font-size: 1rem;
    color: #070606;
    width: 90%;
    resize: none;
}

.submit {
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: grab;
    width: 20%;
    padding: 10px 25px;
}

.submit:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    .wraper-section5 {
        flex-direction: column;
    }

    .contact {
        width: 100%;
        height: 20%;
        justify-content: flex-end;
    }

    .contact1 {
        font-size: 4rem;
    }

    .message {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message form {
        padding: 20px 30px;
        transform: translateX(0);
        width: 80%;
        display: flex;
        align-items: center;
    }

    .input-field,
    #text-area,
    .submit {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .nav-bar {
        position: fixed;
        top: 0;
        right: -50%;
        transform: translateX(50%);
        width: 50%;
        height: 100vh;
        background: #345f617e;
        backdrop-filter: blur(20px);
        margin: 0;
        transition: 0.5s;
    }

    .nav-bar.active {
        right: 0;
        transform: translateX(0);

    }

    .list-container {
        width: 100%;
        height: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 50px;
    }

    .res {
        display: block;
        font-size: 2rem;
    }

    .res:active {
        color: #fff;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 50px;
    }

    .menu {
        margin-right: 50px;
    }

    .contact1 {
        font-size: 3rem;
    }

    .wraper-section3 {
        font-size: 1.2rem;
        width: 90%;
    }
}


@media screen and (max-width:576px) {
    .nav-bar {
        width: 100%;
    }

    .logo {
        margin-left: 15px;
    }

    .menu {
        margin-right: 15px;
    }

    .close {
        right: 30px;
    }

    .conteiner {
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .skill {
        width: 95%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(10px);
    }

    .skill i {
        margin-left: 30px;
        font-size: 5rem;
    }

    .skill span {
        margin-right: 30px;
        font-size: 1.5rem;
    }


    .contact1 {
        font-size: 2.5rem;
    }

    .contact2 {
        font-size: 1rem;
    }

    .message form {
        padding: 20px 10px;
        transform: translateX(0);
        width: max(80%, 250px);
        display: flex;
        align-items: center;
    }

    .input-field,
    #text-area,
    .submit {
        width: 90%;
    }

}